<div *ngIf="selected">
  <app-series-detail [serieDetail]="selectedSerie"></app-series-detail>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3" *ngFor="let book of series">
      <div class="card p-2" style="width: 15rem; height: 17rem">
        <img
          class="card-img-top"
          src="{{ book.poster }}"
          alt="{{ book.name }}"
          (click)="onSelected(book)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">[{{ book.channel }}]</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p>Average Seasons: {{average()}}</p>